---
title: "Contact";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Socials from "@components/Socials.astro";

import { Image } from "astro:assets";
import thuanFace from "@assets/images/thuan-face.png";
---

<Layout>
  <Header activeNav="contact" />
  <main id="main-content">
    <section id="hero">
      <div class="space-y-6">
        <Image
          src={thuanFace}
          width={250}
          format={"webp"}
          alt="Thuan Pham"
          loading="eager"
        />
        <Socials />
        <div class="space-y-6">
          <p>
            Contact <a
              href="mailto:brokenricefilms@proton.me"
              class="text-xl font-bold decoration-dashed hover:underline"
              >brokenricefilms@proton.me</a
            > for prices and to get your edit 😊
          </p>
        </div>
      </div>
      <div class="mb-8 mt-8">
        <a href="/meet" target="_blank" rel="noopener noreferrer">
          <button
            type="button"
            id="shake-button"
            class="text-sl mb-2 me-2 rounded-lg bg-green-700 px-5 py-2.5 font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >Book a call</button
          >
        </a>
      </div>
    </section>

    <Footer client:visible />

    <style>
      #hero {
        @apply pb-6 pt-8;
      }
      #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
      }
      #hero .rss-link {
        @apply mb-6;
      }
      #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
      }
      #hero p {
        @apply my-4;
      }
      #work-with-me {
        @apply mx-auto w-full max-w-3xl px-4 pb-12 text-lg;
      }

      #shake-button:hover {
        animation: tilt-n-move-shaking 0.25s infinite;
      }

      @keyframes tilt-n-move-shaking {
        0% {
          transform: translate(0, 0) rotate(0deg);
          filter: blur(0.1px);
        }
        25% {
          transform: translate(5px, 5px) rotate(5deg);
          filter: blur(0.25px);
        }
        50% {
          transform: translate(0, 0) rotate(0eg);

          filter: blur(0.5px);
        }
        75% {
          transform: translate(-5px, 5px) rotate(-5deg);

          filter: blur(0.75px);
        }
        100% {
          transform: translate(0, 0) rotate(0deg);

          filter: blur(1px);
        }
      }
    </style>
  </main>
</Layout>
