---
title: "Portfolio";
import { Tweet, Vimeo, YouTube } from "astro-embed";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Socials from "@components/Socials.astro";

import { Image } from "astro:assets";
import thuanFace from "@assets/images/thuan-face.png";
import editLikeYouGiveAF from "@assets/images/af.png";
---

<Layout>
  <Header activeNav="portfolio" />
  <main id="main-content">
    <section id="hero">
      <h1>Thuan Pham/ Editor</h1>
      <Image
        id="af"
        class="sepia-0"
        src={editLikeYouGiveAF}
        width={}
        format={"webp"}
        alt="edit like you give a f"
        loading="lazy"
      />
      <div id="shake">
        <Image
          class="mb-4"
          src={thuanFace}
          width={250}
          format={"webp"}
          alt="Thuan Pham"
          loading="lazy"
        />
      </div>
      <Socials />
      <div class="mb-8 mt-8">
        <a href="/contact" ">
          <button
            type="button"
            id="shake-button"
            class="text-sl mb-2 me-2 rounded-lg bg-green-700 px-5 py-2.5 font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            >Work With Me</button
          >
        </a>
      </div>
      <div>
        <a href="#travel">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Travel</button
          >
        </a>
        <a href="#documentary">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Documentary</button
          >
        </a>
        <a href="#boxing">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Boxing</button
          >
        </a>
        <a href="#car">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Car</button
          >
        </a>
        <a href="#animation">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Animation</button
          >
        </a>
        <a href="#talking-head">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Talking-head</button
          >
        </a>
        <a href="#shorts">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Shorts</button
          >
        </a>

        <a href="#music">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Music</button
          >
        </a>
      </div>
    </section>
    <section id="travel" class="mb-8 mt-8">
      <h2 id="travel" class="title mb-4 text-2xl font-bold">Travel</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952803807?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Ho Chi Minh City ｜ phothrottle"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798415?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Da Nang ｜  Escaping Comfort Zone"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798464?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Ha Giang Loop ｜  Escaping Comfort Zone"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:42.55% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952790718?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Walking across Vietnam trailer"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/954290316?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="travel-trial-v1.1-h265"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="documentary" class="mb-8 mt-8">
      <h2 class="title mb-4 text-2xl font-bold">Documentary</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/955411203?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Edward Snowden speaks about government transparency at Sam Adams award"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="boxing" class="mb-8 mt-8">
      <h2 class="title mb-4 text-2xl font-bold">Boxing</h2>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952820912?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="On the aftermath of Anthony Joshua vs Francis Ngannou fight v1.0.1 [3Gapj9M-smY]"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952821413?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Boxing： The Hardest Part｜Boxing Saigon"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="car" class="mb-8 mt-8">
      <h2 id="car" class="title mb-4 text-2xl font-bold">Car</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798897?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="2024 Mazda CX-90 Plug-in Hybrid Electric SUV ｜ Sleepy Garage"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952801928?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Daikoku Parking Area： Cars and Coffee ｜ phothrottle"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:41.89% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952819738?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Untitled"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="Animation" class="mb-8 mt-8">
      <h2 id="animation" class="title mb-4 text-2xl font-bold">Animation</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952757183?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952757173?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:95% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952764926?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="talking-head" class="mb-8 mt-8">
      <h2 id="talking-head" class="title mb-4 text-2xl font-bold">
        Talking-head
      </h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952802375?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Director Cut @zsomtor"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952802710?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Kill Your Demons"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952822049?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Danny Ruderman - Introduction ｜ Re-editing v1.1 @dannyruderman"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952822218?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Tal talking head intro v1.1 [9ECeA6-Q-NI]"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="shorts" class="mb-8 mt-8">
      <h2 id="shorts" class="title mb-4 text-2xl font-bold">Shorts</h2>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952764926?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952786008?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952786450?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952787923?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952787770?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952795490?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Join the Skinny Hippie family v2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952991886?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Join the Skinny Hippie family v2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="music" class="mb-8 mt-8">
      <h2 id="music" class="title mb-4 text-2xl font-bold">Music</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952793766?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Get Up - NewJeans ｜ Cover"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952794564?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Anh Là Ngoại Lệ Của Em"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section>
      <a href="/contact">
        <button
          type="button"
          id="shake-button"
          class="mb-8 me-2 ml-2 rounded-lg bg-green-700 px-5 py-2.5 text-5xl font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          >Let's work together</button
        >
      </a>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-4;
  }

  #shake {
    animation: tilt-n-move-shaking-avata 1.5s infinite;
  }

  #shake-button:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
  }

  #button-heading:focus {
    animation: horizontal-shaking 0.01s infinite;
  }

  #af {
    margin-bottom: -60px;
  }

  #af:hover {
    animation: horizontal-shaking 0.001s infinite;
  }

  @keyframes tilt-n-move-shaking-avata {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(2px, 2px) rotate(2deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
      filter: blur(0.5px);
    }
    75% {
      transform: translate(-2px, 2px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(1px);
    }
  }

  @keyframes tilt-n-move-shaking {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
      filter: blur(0.5px);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(1px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(10px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-10px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(10px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(1px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-1px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(1px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }
</style>
